#perfil_perfil{
    border: solid #424549 2px;
    border-radius: 1vh 1vh 1vh 1vh;
   
    padding: 0 3.76vw 0 1vh;
    
    margin: 0;
}
#perfil_Editperfil{
    border: solid  black 2px;
    border-radius: 1vh 1vh 1vh 1vh;
    background-color: #3B3E42;
    padding: 0 1vw 0 1vh;
 
    margin: 1vh 0 1vh 0;
}

#perfil_seguranca{
    border: solid  #424549 2px;
    border-radius: 1vh 1vh 1vh 1vh;
    
    padding: 0 3.76vw 0 1vh;
    
    margin: 0 ;
  
}
.collapsible{
    margin-left: 35vw;
    width: 40vw;
    margin-top: 20vh;
    color: aliceblue;
    border-color: black;
    background-color: #3B3E42;
    text-align: center;
}
.collapsible-header{
background-color: #9b9a9a;
color: rgb(15, 15, 15);
border-color: black;
font-weight: bold;
justify-content: center;
}
.collapsible-body{
    border-color: black;
    text-align: center;
    justify-content: center;
}
#imgPerf{
    margin: 3vh 0 1vh 0;
    border: 1px solid black;
}
.btnSub{
    border: 1px solid black;
    background-color:  #9b9a9a;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}
    
#lblArq {
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
#upload_image{
    display: none;

  
}